@utility text-semantic-primary {
  color: #334155;
}
@utility text-semantic-secondary {
  color: #64748b;
}
@utility bg-semantic-primary {
  @apply bg-gray-200;
}
@utility bg-semantic-hover {
  &:hover {
    @apply bg-gray-100;
  }
}
@utility border-semantic-primary {
  @apply border-gray-300 ring-gray-300;
}

@utility visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
